@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #72E484;
  --secondary-color: #090135;
  --gray-color: #ACACAC;
  --bg-gray: #F8F8F8;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  color: var(--gray-color);
}

.our-services {
  padding: 100px 0px;
  background-color: #F9F9F9;
}
.our-services .header {
  margin-bottom: 32px;
}
.our-services .header .title {
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.our-services .header .description {
  text-align: center;
}
.our-services .card {
  border: 1px solid #eee;
  background-color: white;
  height: 100%;
  padding: 12px 12px;
  border-radius: 1.25rem;
  transition: all 0.3s;
}
.our-services .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.our-services .card .card-body .icon .fas {
  padding: 8px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 24px;
}
.our-services .card .card-body .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.our-services .card .card-body .text .title {
  color: #162447;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}
.our-services .card .card-body .text .details {
  font-size: 18px;
  margin-bottom: 0px;
}
.our-services .card:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.feedback {
  padding: 170px 0px;
  background-color: var(--bg-gray);
}
.feedback .header {
  margin-bottom: 32px;
}
.feedback .header .title {
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}
.feedback .header .description {
  text-align: center;
}
.feedback .home-demo .item {
  border: 1px solid var(--bs-gray-300);
  background: var(--bs-white);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
  position: relative;
  gap: 24px;
}
.feedback .home-demo .item .user-review {
  display: flex;
}
.feedback .home-demo .item .user-review .ur-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feedback .home-demo .item .user-review .title {
  font-size: 28px;
  margin-bottom: 0px;
  color: var(--secondary-color);
  font-weight: 700;
}
.feedback .home-demo .item .user-review .description {
  font-size: 16px;
  margin-bottom: 0px;
}
.feedback .home-demo .item .dash {
  border-bottom: 1.5px solid var(--bs-gray-200);
  width: 100%;
  height: 0px;
}
.feedback .home-demo .item .user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feedback .home-demo .item .user-info .nameothers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.feedback .home-demo .item .user-info .nameothers .userName {
  font-size: 18px;
  margin-bottom: 0px;
  color: var(--bs-gray-700);
}
.feedback .home-demo .item .user-info .nameothers .others {
  font-size: 14px;
  margin-bottom: 0px;
}
.feedback .home-demo .item .user-info .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=custom.css.map */